* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.one {
  display: flex;
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.two {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.three {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.four {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#a {
  background-color: aquamarine;
  height: 20%;
  width: 100%;
}

#b {
  background-color: blue;
  height: 100%;
  width: 20%;
}

#c {
  background-color: red;
  height: 100%;
  width: 50%;
}

#d {
  background-color: yellow;
  height: 34%;
  width: 100%;
}

#e {
  background-color: green;
  height: 100%;
  width: 50%;
}
