* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 15vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#option {
  background-color: rgb(57, 151, 245);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.ops {
  background-color: rgb(153, 195, 236);
  width: 10%;
  border-radius: 5px;
  height: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#ultimo {
  margin-right: 100px;
}
nav {
  height: 100%;
  width: 70%;
}
ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;

  align-items: center;
  justify-content: center;
}

li {
  background-color: rgb(153, 195, 236);
  width: 10%;
  height: 30%;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

#titulo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#star {
  font-size: 4em;
}

h1 {
  background-color: black;
  color: white;
  height: 40%;
  padding: 15px;
  border-radius: 2px;
}

main {
  display: flex;
  flex-direction: column;
}
.info {
  height: 80vh;
  width: 100vw;
  background-color: rgb(216, 228, 239);
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "text"
    "select";
}

.title {
  display: flex;
  align-items: center;
  grid-area: title;
}
.text {
  grid-area: text;
  margin-left: 10%;
}
.select {
  grid-area: select;
}

.hero {
  color: rgb(79, 150, 222);
  margin-left: 10%;
  font-size: 2.5em;
}
.content {
  width: 60%;
  font-size: 1.5em;
  color: rgb(79, 150, 222);
}

.textTarjeta {
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  color: rgb(206, 223, 240);
  width: 70%;
  margin-left: 10%;
}

.tituloTarjeta {
  font-size: 1.5em;
  margin-top: 10px;
  color: white;
  margin-left: 10%;
}
body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 40vh 180vh 40vh;
  grid-template-areas:
    "container"
    "numeros"
    "service"
    "footer";
}

.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
}

#numeros {
  grid-area: numeros;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 228, 239);
}

#n1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 124, 236);
  height: 100%;
  width: 25%;
}
#n2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(62, 151, 239);
  height: 100%;
  width: 25%;
}
#n3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(97, 166, 235);
  height: 100%;
  width: 25%;
}
#n4 {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 207, 249);
  height: 100%;
  width: 25%;
}

.tarjeta {
  width: 100%;
  height: 50%;
}

.pieNum {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.circuloNum {
  background-color: transparent;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.cajaflecha {
  height: 100%;
  width: 50%;
  position: relative;
}

.cajacirculo {
  height: 100%;
  width: 50%;
  position: relative;
}

.numTarjeta {
  font-size: 3em;
  color: black;
  font-weight: bold;
}
.caudroCaja {
  height: 50%;
  aspect-ratio: 1 / 1;
  border: solid 2px black;
  position: absolute;
  bottom: 10px;
  right: 20px;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* 
#service {
  grid-area: service;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 3fr 1fr 1fr;
  grid-template-areas:
    "offering offering"
    "textoffering imagen"
    "textoffering imagen"
    "select select";
  border: solid 1px black;
  width: 100vw;
  height: 100vh;
} */

#service {
  grid-area: service;
  display: flex;
  flex-direction: column;
}

.offering {
  /* grid-area: offering; */
  display: flex;
  flex-direction: row;
  background-color: rgb(216, 228, 239);
  width: 100%;
  height: 60vh;
  position: relative;
}

.content-offering {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.img-offering {
  width: 30%;
  height: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imagen {
  width: 100%;
  height: 60%;
  background-color: rgb(79, 150, 222);
  position: absolute;
  bottom: 15%;
}

.titulo-offering {
  font-size: 2em;
  color: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titulo-offering-cont {
  font-size: 1.5em;
  color: rgb(79, 150, 222);
}

.textoffering {
  /* grid-area: textoffering; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  height: 33%;
}

.text-offering-cont {
  width: 50%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(79, 150, 222);
  font-size: 1.2em;
}

.select {
  /* grid-area: select; */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  position: relative;
}
.btn {
  width: 25%;
  height: 25%;
  background-color: black;
  position: absolute;
  left: 25%;
  top: 20%;
}

#mid-offering {
  background-color: rgb(211, 216, 226);
}

footer {
  grid-area: footer;
  background-color: aqua;
  width: 100%;
  height: 100%;
}

@media (min-width: 479px) and (max-width: 1029px) {
  header {
    height: 15vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
